<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" integrity="sha512-NmLkDIU1C/C88wi324HBc+S2kLhi08PN5GDeUVVVC/BVt/9Izdsc9SVeVfA1UZbY3sHUlDSyRXhCzHfr6hmPPw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="assests/css/style.css">
</head>
<body>
    <header>
        <div class="bg-image">
            <div class="container">
                <div class="row top">
                    <div class="col-5">
                        <img src="	https://template.hasthemes.com/eduhome/eduhome/img/logo/logo.png" alt="">
                    </div>
                    <div class="col-7">
                        <nav>
                            <ul>
                                <li>
                                    <a href="">Home</a>
                                </li>
                                <li><a href="">Home</a></li>
                               
                                <li class="main-course">
                                    <a href="">Course</a>
                                    <ul class="dropdown-course">
                                        <li>Courses info</li>
                                        <li>Courses full info</li>
                                    </ul>
                                </li>
                                <li><a href="">Home</a></li>
                                <li><a href="">Home</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="row">
                    <div class="col-7 header-main">
                        <h1>EDUCATION MAKES PROPER HUMANITY </h1>
                        <p>I must explain to you how all this mistaken idea of denouncing pleasure and prsing pain was born and I will give you a complete account of the system  </p>
                        <a class="learn-button" href="">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
</body>
</html>